/* the concept of em unit, this is the unit whhich we use in media queries
1rem = 1em = 16px
so if we choose a breakpoint that is 1350px so what we do is that 1350/16 = 84em */

/* for devices size below 1344 */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
}
/* for devices size below 1200 */
@media (max-width: 75em) {
  html {
    font-size: 56.25%; /*only for this line the font-size is considered as 56.25% (9px) but not for the other elements in the query, the font size will be changed or applied to this element font-size only */
  }

  .scetion-how-para {
    font-size: 3.6rem;
  }

  .section-meals-tertiaryheading {
    font-size: 3.6rem;
  }

  .tst-text-2 {
    font-size: 3.6rem;
  }

  .pricing-txt2 {
    font-size: 3.6rem;
  }

  .cta-txt-box h3 {
    font-size: 3.6rem;
  }

  .step-heading {
    font-size: 3.6rem;
  }

  .header {
    padding: 0 4.4rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .nav-list {
    gap: 3.2rem;
  }

  .testimonials {
    padding: 5.2rem;
  }

  .customer-tst {
    column-gap: 2.4rem;
  }

  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* for devices size below 944 */
@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .hero {
    grid-template-columns: 1fr;
    padding: 0 8rem;
  }

  .hero-img {
    width: 60%;
  }

  .hero-text-box,
  .hero-image-box {
    text-align: center;
  }

  .images-container {
    justify-content: center;
  }

  .hero-btn-box {
    justify-content: center;
  }

  .images-container {
    margin-top: 3.2rem;
  }

  .hero {
    gap: 6.4rem;
  }

  .logos-images img {
    height: 2.4rem;
  }

  .step-heading {
    font-size: 2.4rem;
  }

  .meals-container {
    grid-template-columns: 1fr;

    /* Adjust column sizes */
    column-gap: 2rem; /* Adds spacing between meal items */
    row-gap: 3rem;
    justify-items: center;
  }
  .testimonial-containers {
    grid-template-columns: 1fr;
  }

  .gallery-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .cta-grid {
    grid-template-columns: 3fr 2fr;
  }

  .form-cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    background-position: center;
  }

  .btn--cta {
    margin-top: 1.8rem;
  }

  .menu-btn {
    display: block;
  }

  .nav-main {
    background-color: white;
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    /* The correct way to hide any element, for that we usually do these following steps
    
    1. hide it visually: */
    opacity: 0;

    /* 2. make it unaccessble for mouse and keyborad */
    pointer-events: none;

    /* 3. hide it from screen readers */
    visibility: hidden;

    /* adding the functionality to make menu appear from left side with an transition */

    transform: translateX(100%);
    /* after doing transform translate x also add overflow-x to hidden in the style.css file as well in the body and html section and make the nav-main's position absolute and the main-nav parents which is header position to relative section so that it can be hidden  */
    transition: all 0.5s ease-in;
  }

  .nav-open .nav-main {
    /* the opposite of the above properties when the menu is open: */

    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-btn[name="close-outline"] {
    display: block;
  }
  .nav-open .icon-btn[name="menu-outline"] {
    display: none;
  }

  .nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .nav-links:link,
  .nav-links:visited {
    font-size: 3rem;
  }
}

/* for devices size below 704 */
@media (max-width: 44em) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .meals-container {
    grid-template-columns: 1fr;
  }

  .diet-list-container {
    grid-column: 1/3;
    grid-row: 2;
    justify-items: center;
  }

  .plans {
    width: 100%;
  }

  .plan-2::before {
    top: 4%;
    padding: 0 2rem;
    font-size: 1rem;
  }

  .footer-grid {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .account-col {
    grid-column: 1/2;
  }
  .company-col {
    grid-column: 2/4;
  }
  .resouces-col {
    grid-column: 4/6;
  }

  .logo-col {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .contact-col {
    grid-column: 3/6;
    grid-row: 2/3;
  }
}

/* for devices size below 576 */
@media (max-width: 36em) {
  .grid--2-col {
    grid-template-columns: 1fr;
  }

  .logos-images img {
    height: 1.2rem;
  }

  .logos-images {
    gap: 2rem;
  }
  .hero {
    padding: 0 4.2rem;
  }

  .hero-section {
    padding: 2.4rem 0 6.4rem 0rem;
  }

  .hero-img {
    width: 80%;
  }

  /*this one means that 3rd element of the container-how whose name step-image-box should get moved to row 4th8 */
  .step-image-box:nth-child(3) {
    grid-row: 4;
  }

  .customer-tst {
    grid-template-columns: 1fr;
  }

  .gallery-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }

  .pricing-tags-grids {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  .cta-grid {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    height: 32rem;
    grid-row: 1;
  }

  .meals-container {
    grid-template-columns: 1fr;
  }
}
